<!doctype html>
<html lang="en" ng-app="LCCApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta name="description" content="Calculator 1">
    <link rel="icon" href="images/favicon.ico">
    <title>Loan Comparison</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/fonts/font-awesome.css">
    <link rel="stylesheet" href="css/nouislider.min.css">
    <link rel="stylesheet" href="css/angularPrint.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body print-section ng-cloak>
    <div class="otrp-calculator container-fluid " ng-controller="LCCcontroller">

<!--<h2 ng-click="calculatorInfoModal()">click me</h2>-->
      <h1>{{memberStatus}}</h1>
        <div class=" row title ">
            <div class="col-xs-8 col-sm-9 col-lg-9">
                <h1>Loan Comparison</h1>
            </div>
            <div print-hide class=" button-wrapper col-xs-4 col-sm-3 col-md-3">
              <button type="button" title="print" class="new-btn btn-prnt print-doc"></button>
              <button type="button" class="new-btn btn-sav " id="download" title="Save as PDF" role="button" aria-controls="email-overlay"></button>
              <button type="button" class="new-btn btn-info " ng-click="calculatorInfoModal()" title="Information"></button>
            </div>
        </div>

        <div class="row content">
            <div class="col-xs-12 col-sm-12 col-lg-12">

                <div class="row input-div">
                    <div class="col-xs-12 col-sm-12 col-lg-12">
                      <div class="row title-div">
                          <span class="number-wrapper">01</span>
                          <span class="title-wrapper">Personal Details</span>
                          <div class="otrp-clear"></div>
                      </div>




                      <form name="forms.LCCForm" class="LCC-form" novalidate ng-submit="calculate(forms.LCCForm.$valid)">
                      <div name="LLCForm" class="form-1" ng-class="{menuDrop: isMenuDrop1}">
                            <div class="row ">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="first-name">First Name *</label>
                                        <input type="text" value="Mickey" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-pattern" ng-model="personalDetails.firstName" name="firstName" id="first-name" ng-pattern="/^[a-zA-Z\s]*$/" onclick="this.select();" required="">
                                        <p class="err-msg ng-hide" ng-show="!forms.LLCForm.firstName.$pristine &amp;&amp; forms.LLCForm.firstName.$invalid">Please provide a valid first name.</p>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="last-name">Last Name *</label>
                                        <input type="text" name="lastName" ng-model="personalDetails.lastName" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-pattern" id="last-name" ng-pattern="/^[a-zA-Z\s]*$/" onclick="this.select();" required="">
                                        <p class="err-msg ng-hide" ng-show="(!forms.LLCForm.lastName.$pristine &amp;&amp; forms.LLCForm.lastName.$invalid)">Please provide a valid last name.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="email">Email Address *</label>
                                        <input type="email" name="email" ng-model="personalDetails.email" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-email ng-valid-required" id="email" onclick="this.select();" required="">
                                        <p class="err-msg ng-hide" ng-show="(!forms.LLCForm.email.$pristine &amp;&amp; forms.LLCForm.email.$invalid)">Enter a valid email address</p>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="mobile-number">Mobile Number *</label>
                                    <!--<input type="number" name="mobile" ng-model="personalDetails.mobile" class="form-control mob-input ng-pristine ng-untouched ng-not-empty ng-valid-required ng-invalid ng-invalid-pattern" id="mobile-number" required="" onclick="this.select();" ng-pattern="/^(04)\d{8}$/g">-->
                                        <input type="number" name="mobile" ng-model="personalDetails.mobile" class="form-control mob-input" id="mobile-number" required onClick="this.select();" ng-pattern="/^(04)\d{8}$/g">

                                        <p class="err-msg ng-hide" ng-show="(!forms.LLCForm.mobile.$pristine &amp;&amp; forms.LLCForm.mobile.$invalid)">Enter a valid mobile number</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                  <div class="form-group">
                                      <label for="postal-code">Postal Code</label>
                                      <input type="number" name="postalCode" ng-model="personalDetails.postalCode" class="form-control postal-code ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-minlength ng-valid-maxlength" id="postal-code" ng-minlength="4" ng-maxlength="4" onclick="this.select();">
                                      <p class="err-msg ng-hide" ng-show="!forms.LLCForm.postalCode.$pristine &amp;&amp;forms.LLCForm.postalCode.$invalid">Enter a valid 4-Digit postal code</p>
                                  </div>
                                </div>
                                <div class="col-xs-8 col-sm-4 form-heading">
                                    Date Of Birth
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" name="dob" id="dobText" onclick="this.select();" class="standard-input form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty ng-valid-date ng-valid-required" show-button-bar="false" uib-datepicker-popup="d!/M!/yyyy" ng-model="dob" is-open="popup1.opened" datepicker-options="dateOptions" required="" close-text="Close" ng-blur="ageChange()"><div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-not-empty ng-valid">



  <!-- ngIf: isOpen -->
</div>
                                                    <span class="input-group-addon" ng-click="open1()">
                                   <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-2 form-heading">
                                    Age
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12">
                                            <div class="form-group">
                                                <input type="number" onclick="this.select();" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" id="ageInput" name="ageInput" ng-model="age" disabled="">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>





                  <div class="row " >
                    <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="first-name">
                                      <span>Gender of member</span>
                                      <span>
                                        <button class="option-l-btn btn" ng-click="getGenderOfMember2(false)" ng-disabled="!genderMmbr2">Male</button>
                                        <button class="option-r-btn btn" ng-click="getGenderOfMember2(true)" ng-disabled="genderMmbr2" disabled="disabled">Female</button>
                                      </span>
                                    </label>


                                </div>
                              </div>


                  </div>




                        <div class="row title-div">
                            <span class="number-wrapper">02</span>
                            <span class="title-wrapper">Loan Amount And Term</span>
                            <div class="otrp-clear"></div>
                        </div>



                            <div class="row ">

                              <div class="col-xs-6">
                                  <div class="form-group">
                                      <label for="last-name">Loan Amount</label>

                                      <div class="row ">


                                          <div class="col-xs-12 col-sm-12 form-heading">

                                              <div class="row">
                                                  <div class="col-xs-4 col-sm-4">
                                                      <div class="form-group">
                                                          <!-- <label for="ageInput">Your Age</label> -->
                                                          <input type="text" onClick="this.select();" class="form-control" id="input7" name="input7" ng-model="loanAmount">
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                      <!-- <label></label> -->
                                                      <div id="slider7" style="margin-top:8px;"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="last-name">Loan Term (in year)</label>
                                            <div class="row ">
                                                <div class="col-xs-12 col-sm-12 form-heading">
                                                    <div class="row">
                                                        <div class="col-xs-4 col-sm-4">
                                                            <div class="form-group">

                                                                <input type="text" onClick="this.select();" class="form-control" id="loanTermYearInput" name="loanTermYearInput" ng-model="loanTermYear">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-8 col-sm-8 form-group slider-common">

                                                            <div id="loanTermYearSlider" style="margin-top:8px;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>

                            <div class="row title-div">
                                <span class="number-wrapper">03</span>
                                <span class="title-wrapper">Fee Structure</span>
                                <div class="otrp-clear"></div>
                            </div>

                            <div class="row">

                              <div class="col-xs-6"><h4>Loan 1</h4></div>
                              <div class="col-xs-6"><h4>Loan 2</h4></div>
                            </div>


                            <div class="row ">
                              <div class="col-xs-6">
                                  <div class="form-group">
                                      <label for="last-name">Upfront fees</label>
                                      <div class="row ">
                                          <div class="col-xs-12 col-sm-12 form-heading">
                                              <div class="row">
                                                  <div class="col-xs-4 col-sm-4">
                                                      <div class="form-group">

                                                          <input type="text" onClick="this.select();" class="form-control" id="UpfrontFeesInput1" name="UpfrontFeesInput1" ng-model="upfrontFees1">
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-8 col-sm-8 form-group slider-common">

                                                      <div id="UpfrontFeesSlider1" style="margin-top:8px;"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-xs-6">
                                  <div class="form-group" >
                                      <label for="last-name" >Upfront fees</label>

                                      <div class="row ">
                                          <div class="col-xs-12 col-sm-12 form-heading">

                                              <div class="row">
                                                  <div class="col-xs-4 col-sm-4">
                                                      <div class="form-group">
                                                          <!-- <label for="ageInput">Your Age</label> -->
                                                          <input type="text" onClick="this.select();" class="form-control" id="upfrontFeesInput2" name="upfrontFeesInput2" ng-model="upfrontFeesInpu2">
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                      <!-- <label></label> -->
                                                      <div id="upfrontFeesSlider2" style="margin-top:8px;"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                            </div>

                            <div class="row">
                              <div class="col-xs-6">
                                  <div class="form-group" >
                                      <label for="last-name">Ongoing interest rate</label>
                                      <div class="row ">
                                          <div class="col-xs-12 col-sm-12 form-heading">
                                              <div class="row">
                                                  <div class="col-xs-4 col-sm-4">
                                                      <div class="form-group">
                                                          <!-- <label for="ageInput">Your Age</label> -->
                                                          <input type="text" onClick="this.select();" class="form-control" id="ongoingRateInput1" name="ongoingRateInput1" ng-model="ongoingRate1">
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                      <!-- <label></label> -->
                                                      <div id="ongoingRateSlider1" style="margin-top:8px;"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-xs-6">
                                  <div class="form-group" >
                                      <label for="last-name">Ongoing interest rate</label>
                                      <div class="row ">
                                          <div class="col-xs-12 col-sm-12 form-heading">
                                              <div class="row">
                                                  <div class="col-xs-4 col-sm-4">
                                                      <div class="form-group">
                                                          <!-- <label for="ageInput">Your Age</label> -->
                                                          <input type="text" onClick="this.select();" class="form-control" id="ongoingRateInput2" name="ongoingRateInput2" ng-model="ongoingRate2">
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                      <!-- <label></label> -->
                                                      <div id="ongoingRateSlider2" style="margin-top:8px;"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                            <div class="row ">
                              <div class="col-xs-6">
                                  <div class="form-group" >
                                      <label for="last-name">Ongoing fees</label>
                                      <div class="row ">
                                          <div class="col-xs-12 col-sm-12 form-heading">
                                              <div class="row">
                                                  <div class="col-xs-4 col-sm-4">
                                                      <div class="form-group">
                                                          <!-- <label for="ageInput">Your Age</label> -->
                                                          <input type="text" onClick="this.select();" class="form-control" id="ongoingFeesInput1" name="ongoingFeesInput1" ng-model="ongoingFees1">
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                      <!-- <label></label> -->
                                                      <div id="ongoingFeesSlider1" style="margin-top:8px;"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-xs-6">
                                  <div class="form-group"  >
                                      <label for="last-name">Ongoing fees</label>
                                      <div class="row ">
                                          <div class="col-xs-12 col-sm-12 form-heading">
                                              <div class="row">
                                                  <div class="col-xs-4 col-sm-4">
                                                      <div class="form-group">
                                                          <!-- <label for="ageInput">Your Age</label> -->
                                                          <input type="text" onClick="this.select();" class="form-control" id="ongoingFeesInput2" name="ongoingFeesInput2" ng-model="ongoingFees2">
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                      <!-- <label></label> -->
                                                      <div id="ongoingFeesSlider2" style="margin-top:8px;"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-xs-6">
                                <div class="form-group" >
                                    <label for="first-name">
                                      <p>Repayment Cycle</p>
                                      <p>
                                        <button class="option-l-btn  btn" ng-click="checkPaymentCycle1('Weekly')"  ng-disabled="Weekly1" >Weekly</button>
                                        <button class="option-r-btn new-btn btn-m btn" ng-click="checkPaymentCycle1('Fortnightly')"  ng-disabled="Fortnightly1">Fortnightly</button>
                                        <button class="option-r-btn new-btn btn" ng-click="checkPaymentCycle1('Monthly')"  ng-disabled="Monthly1">Monthly</button>
                                      </p>
                                    </label>
                                </div>
                              </div>
                              <div class="col-xs-6">
                                <div class="form-group"  >
                                    <label for="first-name">
                                      <p>Repayment Cycle</p>
                                      <p>
                                        <button class="option-l-btn btn" ng-click="checkPaymentCycle2('Weekly')"  ng-disabled="Weekly2" >Weekly</button>
                                        <button class="option-r-btn new-btn btn-m btn" ng-click="checkPaymentCycle2('Fortnightly')"  ng-disabled="Fortnightly2">Fortnightly</button>
                                        <button class="option-r-btn new-btn btn" ng-click="checkPaymentCycle2('Monthly')"  ng-disabled="Monthly2">Monthly</button>
                                      </p>
                                    </label>
                                </div>
                              </div>
                          </div>

                          <div class="row">
                            <div class="col-xs-6">
                              <div class="form-group">
                                  <label for="first-name">
                                    <p>Does this loan has an introductory rate?</p>
                                    <p>
                                      <button class="option-l-btn btn" ng-click="yesNoReply1(true)" ng-disabled="yesNoQuestion1" >Yes</button> <!---->
                                      <button class="option-r-btn btn" ng-click="yesNoReply1(false)" ng-disabled="!yesNoQuestion1">No</button>
                                    </p>
                                  </label>
                              </div>
                          </div>
                          <div class="col-xs-6">
                              <div class="form-group">
                                  <label for="first-name" >Does this loan has an introductory rate?</label>
                                  <p>
                                    <button class="option-l-btn btn" ng-click="yesNoReply2(true)" ng-disabled="yesNoQuestion2">Yes</button>
                                    <button class="option-r-btn btn" ng-click="yesNoReply2(false)" ng-disabled="!yesNoQuestion2" disabled="disabled">No</button>
                                  </p>
                              </div>
                          </div>

                          </div>


                          <div class="row ">
                            <div class="col-xs-6" >
                                <div class="form-group" ng-show="yesNoQuestion1">
                                    <label for="last-name">Introductory rate</label>

                                    <div class="row ">


                                        <div class="col-xs-12 col-sm-12 form-heading">

                                            <div class="row">
                                                <div class="col-xs-4 col-sm-4">
                                                    <div class="form-group">
                                                        <!-- <label for="ageInput">Your Age</label> -->
                                                        <input type="text" onClick="this.select();" class="form-control" id="IntroductoryRateInput1" name="IntroductoryRateInput1" ng-model="IntroductoryRate1">
                                                    </div>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                    <!-- <label></label> -->
                                                    <div id="IntroductoryRateSlider1" style="margin-top:8px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group" ng-show="yesNoQuestion2">
                                    <label for="last-name"> Introductory rate</label>

                                    <div class="row ">


                                        <div class="col-xs-12 col-sm-12 form-heading">

                                            <div class="row">
                                                <div class="col-xs-4 col-sm-4">
                                                    <div class="form-group">
                                                        <!-- <label for="ageInput">Your Age</label> -->
                                                        <input type="text" onClick="this.select();" class="form-control" id="IntroductoryRateInput2" name="IntroductoryRateInput2" ng-model="IntroductoryRate2">
                                                    </div>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                    <!-- <label></label> -->
                                                    <div id="IntroductoryRateSlider2" style="margin-top:8px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="row ">
                              <div class="col-xs-6 form-heading">
                                <div class="form-group" ng-show="yesNoQuestion1">
                                    <label for="last-name">Introductory term</label>
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <!-- <label for="ageInput">Your Age</label> -->
                                                <input type="text" onClick="this.select();" class="form-control" id="IntroductoryTermInput1" name="IntroductoryTermInput1" ng-model="IntroductoryTerm1">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group slider-common">
                                            <!-- <label></label> -->
                                            <div id="IntroductoryTermSlider1" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>

                              </div>
                              <div class="col-xs-6">
                                  <div class="form-group" ng-show="yesNoQuestion2">
                                      <label for="last-name" >Introductory term</label>
                                      <div class="row ">
                                          <div class="col-xs-12 col-sm-12 form-heading">
                                              <div class="row">
                                                  <div class="col-xs-4 col-sm-4">
                                                      <div class="form-group">
                                                          <!-- <label for="ageInput">Your Age</label> -->
                                                          <input type="text" onClick="this.select();" class="form-control" id="IntroductoryTermInput2" name="IntroductoryTermInput2" ng-model="introductoryTerm2">
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                      <!-- <label></label> -->
                                                      <div id="IntroductoryTermSlider2" style="margin-top:8px;"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-xs-12">

                                  <button class="btn btn-block btn-primary btn-calculate"  type="submit" print-remove>Calculate Result</button>
                              </div>
                          </div>
                </form>

                <div class="row result-head clearfix">
                    <h3 class="results-title">Your Results</h3>
                    <button class="btn btn-primary print-dup print-doc btn-newPrint" style="float:right; background-color:#0d2f47 !important;" print-remove>

                      <i class="fa fa-print" aria-hidden="true"></i>
                        Print Result
                    </button>
                </div>
                <div class="row" >
                    <div class="col-xs-7">
                        <div id="container" style="padding-top:15px;padding-bottom:10px;margin-left: -10px;"></div>
                    </div>
                    <div class="col-xs-5 ">
                        <div class="box-right">
                          <div class="row padding-left-right10">
                            <div class="col-xs-12 headng">Total fees</div>
                          </div>
                          <div class="row padding-left-right10">
                            <div class="col-xs-5 subhead">Loan 1</div>
                            <div class="col-xs-7 subval">{{totalFeesValueLoan1 | currency}}</div>
                          </div>
                          <div class="row padding-left-right10">
                            <div class="col-xs-5 subhead">Loan 2</div>
                            <div class="col-xs-7 subval">{{totalFeesValueLoan2 | currency}}</div>
                          </div>
                          <div class="divider"></div>
                          <div class="row padding-left-right10">
                            <div class="col-xs-12 headng">Total interest</div>
                          </div>
                          <div class="row padding-left-right10">
                            <div class="col-xs-5 subhead">Loan 1</div>
                            <div class="col-xs-7 subval">{{totalInterestValueLoan1 | currency}}</div>
                          </div>
                          <div class="row padding-left-right10">
                            <div class="col-xs-5 subhead">Loan 2</div>
                            <div class="col-xs-7 subval">{{totalInterestValueLoan2 | currency}}</div>
                          </div>
                          <div class="divider"></div>
                          <div class="row padding-left-right10">
                            <div class="col-xs-12 headng">Total principal</div>
                          </div>
                          <div class="row padding-left-right10">
                            <div class="col-xs-5 subhead">Loan 1</div>
                            <div class="col-xs-7 subval">{{totalPrincipalValueLoan1 | currency}}</div>
                          </div>
                          <div class="row padding-left-right10">
                            <div class="col-xs-5 subhead">Loan 2</div>
                            <div class="col-xs-7 subval">{{totalPrincipalValueLoan2 | currency}}</div>
                          </div>

                          <div class="dark-bg">
                            <div class="row padding-left-right10">
                              <div class="col-xs-12 headng">Total repayment</div>
                            </div>
                            <div class="row padding-left-right10">
                              <div class="col-xs-12 subhead">Loan 1</div>
                              <div class="col-xs-12 subval">{{totalRepaymentValueLoan1 | currency}}</div>

                              <div class="col-xs-12 subhead">Loan 2</div>
                              <div class="col-xs-12 subval">{{totalRepaymentValueLoan2 | currency}}</div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row disclaimer">
                    <span class="calculator-disclaimer">Information provided by Financial Choice Pty Ltd is general financial advice only. General advice is defined under the new regulations to include information about financial products and financial markets and our current views and outlook for those products and markets. The general advice we provide includes the information you have requested from us directly or via our web site.</span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <img src="images/client-logo.png" class="comp-logo" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script type="text/ng-template" id="validationModal.html">
            <div print-hide class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.cancel()"><span aria-hidden="true">&times;</span></button>
              <h4 style="text-align:center;" class="modal-title">Your Form Inputs Are Incorrect/Incomplete</h4>
            </div>
            <div print-hide class="modal-body" id="modal-body">
              <ul class="modal-list">
                  <li ng-show="$ctrl.LCCForm.firstName.$pristine ">Please provide your first name.</li>
                  <li ng-show="!$ctrl.LCCForm.firstName.$pristine && $ctrl.LCCForm.firstName.$invalid">Please provide a valid first name.</li>
                  <li ng-show="$ctrl.LCCForm.lastName.$pristine">Please provide your last name.</li>
                  <li ng-show="(!$ctrl.LCCForm.lastName.$pristine && $ctrl.LCCForm.lastName.$invalid)">Please provide a valid last name.</li>
                  <li ng-show="($ctrl.LCCForm.email.$pristine || $ctrl.LCCForm.email.$invalid)">Please provide a valid email address.</li>
                  <li ng-show="($ctrl.LCCForm.mobile.$pristine || $ctrl.LCCForm.mobile.$invalid)">Please provide a valid mobile number.</li>
                  <li ng-show="$ctrl.LCCForm.postalCode.$invalid">Please provide a valid 4-Digit postal code.</li>
                  <li ng-show="error1option">Please re-enter the values for initial asset allocation(The total of all shares should add up to 100)</li>
                  <li ng-show="error2option">Please re-enter the values for altered asset allocation(The total of all shares should add up to 100)</li>
              </ul>
            </div>
            <div print-hide class="modal-footer">
              <h5 style="text-align:center">Please provide the correct inputs to calculate new result, generate the result as PDF and print the result.</h5>
            </div>
        </script>
    <script type="text/ng-template" id="calculatorInfoPage.html">
        <div print-hide class="modal-header infoHeader">

          <div class="row info-title">
              <div class="col-xs-9 col-sm-9 col-lg-9">
                  <h2>Calculator Information</h2>
              </div>
              <div class="col-xs-3 col-sm-3 col-lg-3">
                  <button type="button" class="closeInfo" ng-click="$ctrlInfo.cancel()"></button>
              </div>
          </div>
        </div>
        <div print-hide class="modal-body infoBody" id="modal-body">
          <div class="row info-content">
              <div class="col-xs-12 col-sm-12 col-lg-12">
                  <ol>
                      <li>
                        We assume the loan repayment includes principal and interest
                      </li>
                      <li>We assume the borrower will not change the loan provider in the middle of the borrowing terms</li>
                      <li>It is assumed that the fee is uniformly spreaded in the whole year, and will be paid monthly in arrear</li>
                      <li>It is assumed that the repayment is monthly in arrear</li>


                    </ol>
              </div>
          </div>
        </div>

    </script>
    <script src="js/plugins/jquery/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="js/plugins/angular/angular.min.js" type="text/javascript"></script>
    <script src="js/plugins/bootstrap/bootstrap-select.min.js" type="text/javascript"></script>
    <script>
    $(document).ready(function() {
        $("input").keydown(function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                return false;
            }
        });
        $(".postal-code").keydown(function(event) {
            if (event.keyCode === 38 || event.keyCode === 40) {
                event.preventDefault();
                return false;
            }
        });
        $(".mob-input").keydown(function(event) {
            if (event.keyCode === 38 || event.keyCode === 40) {
                event.preventDefault();
                return false;
            }
        });
    });
    </script>
    <script src="js/plugins/bootstrap/ui-bootstrap-tpls-1.3.3.min.js" type="text/javascript"></script>
    <script src="js/plugins/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/controller.js" type="text/javascript"></script>
    <script src="js/plugins/nouislider.min.js" type="text/javascript"></script>
    <script src="js/plugins/wNumb.js" type="text/javascript"></script>
    <script src="js/AgeCalculatorService.js" type="text/javascript"></script>
    <script src="js/angularPrint.js" type="text/javascript"></script>
    <script src="js/plugins/highcharts/highcharts.js" type="text/javascript"></script>
    <script src="js/plugins/highcharts/highcharts-3d.js" type="text/javascript"></script>
    <script src="js/plugins/highcharts/data.js" type="text/javascript"></script>
    <script src="js/plugins/highcharts/exporting.js" type="text/javascript"></script>
    <script src="js/sand-signika.js" type="text/javascript"></script>
    <script src="js/lineChartService.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.0.16/jspdf.plugin.autotable.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta1/html2canvas.js"></script>
    <script src="js/plugins/rgbcolor.js" type="text/javascript"></script>
    <script src="js/plugins/StackBlur.js" type="text/javascript"></script>
    <script src="js/plugins/canvg.min.js" type="text/javascript"></script>
    <script src="js/PdfMaker.js" type="text/javascript"></script>
</body>

</html>
